.home {
	.user {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ccc;

		.userImage {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-right: 40px;
		}
		.name {
			font-size: 32px;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		.access {
			color: $font-color;
		}
	}
	.login-info {
		p {
			line-height: 22px;
			font-size: 14px;
			color: $font-color;
			span {
				color: #666;
				margin-left: 60px;
			}
		}
	}
	.num {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.el-card {
			width: 32%;
			margin-bottom: 20px;
			// /deep/ .el-card__body{
			//     display: flex;
			// }
		}
		.icon {
			font-size: 30px;
			width: 80px;
			height: 80px;
			text-align: center;
			line-height: 80px;
			color: #fff;
		}
		.detail {
			margin-left: 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.number {
				font-size: 30px;
				margin-bottom: 10px;
			}
			.txt {
				font-size: 14px;
				text-align: center;
				color: #999;
			}
		}
	}
	.graph {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
        .el-card{
            width:48%;
        }
	}
}
